@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background: #151D21;
    color: white;
}

.titletext {
    font-family: 'Roboto';
    font-size: 48px;
    text-align: center;
}

.textlabel {
    font-family: 'Roboto Thin';
    font-size: 28px;
    text-align: center;
}